<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="/fragments/head :: head">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="/fragments/header :: header">
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
        Plates Page.....WIP (Work In Progress)
      <div class="row">
        <div class="col-md-12">
          <h2>Plates</h2>
          <p>Details about plates will be displayed here.</p>
        </div>
      </div>
    </div>
  </section>
  <footer th:replace="/fragments/footer :: footer">
</body>

</html>